body{
    background-color: rgba(255, 177, 248, 0.425)  ;
    }
    h1{
        color: rgba(230, 30, 220, 0.315) ;
        font-family:sans-serif,;
        background: ;
        }
        p{
        color:rgba(230, 30, 220, 0.315);
        font-family: ;
        font-size: ;
        background: ;
         }